.board {
    display: inline-block;
    height: 80vh;
    width: 80vh;
    background: #eee;
}

.board-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cell {
    height: 40px;
    background: #ddd;
    border: 1px solid black;
}