.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    height: 80vh;
    width: 80vh;
    background: #eee;
}

.board-row {
    
}

.cell {
    /* height: 40px; */
    background: #ddd;
    border: 1px solid black;
}